header{
    background-color: greenyellow;
}
.head{
    margin: -10px; 
    margin-top: -47px; 
    margin-left: 70%;
    height: 50px;
}
.body{
    margin: 10%; 
    margin-left: 35%; 
    margin-top: 18%;
    background: linear-gradient(white,black);
    height: 700px;
    width: 100%;
}
.butt{
    margin-left: 10%;
}
.button{
    border-radius: 5px;
    background-color: green;
    
}
.button2{
    border-radius: 5px;
    background-color: yellowgreen;
    
}
